body {
  font-family: 'Poiret One', sans-serif;
}

header {
  background: #AA381E;
  border-bottom: 2px solid #ffd700;
}

header h1 {
  color: #fff;
}

article h2 {
  border-bottom: 1px solid #000;
}

article.contact a {
  color: #fff;
  background: #AA381E;
}

article.contact a:hover {
  background: #F68D75;
}

footer {
  background: #AA381E;
  border-top: 2px solid #ffd700;
}
