body {
  font-family: 'Poiret One', sans-serif;
}

header {
  background: #AA381E;
}

header h1 {
  color: #fff;
}

article.contact a {
  color: #fff;
  background: #AA381E;
}

article.contact a:hover {
  background: #F68D75;
}
